.header {
  background: $white;
  border-bottom: $border-base;
  z-index: 9;
  position: fixed;
  left: 0;
  top: 0;
  height: 57px;

  .sb-row{
    height: 100%;
    position: relative;

    .sb-row-inner{
      height: 100%;

      .sb-column{
        height: 100%;

        .item{
          display: flex;
          align-items: center;
          height: 100%;
        }
        .item.right{
          justify-content: flex-end;
        }
        .item.center{
          justify-content: center;
        }
        .item.logo{
          font-size: $h2 !important;
          font-weight: bolder;
          padding: 0;
          margin-top: -2px;
          font-family: $font-alt;
        }
      }
    }
  }
}
